options => {
    tcp_timeout => 15 ; zonefile-style comment
    listen => [ 0.0.0.0 ]
}

service_types => {
   http_monitor_webapp => {
      plugin => http_status
      ok_codes => [200]
      vhost => {{ domain_name }}
      port => 7000
      url_path => /
      interval = 6
      timeout = 3
      up_thresh = 4
      ok_thresh = 2
      down_thresh = 5
   }
}

plugins => {
   multifo => {
      webapp => {
         service_types => http_monitor_webapp
         up_thresh => 0.3
         {% for host in groups['haproxy_cluster'] %}
         lb_{{ host }} => {{hostvars[host]['ansible_' + gdnsd_network.iface]['ipv4']['address']}}
         {% endfor  %}
      }
   }
}

